# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.pnpm-debug.log

# Environment
.env
.env.*

# macOS
.DS_Store

# VS Code
.vscode/

# Build
dist/
build/

# Logs
logs/
*.log

# OS generated
Thumbs.db
